.containerApp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem;
}

.winnerOrLoser {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
}

.loserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 10rem;
}

.niceTry {
  font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
  text-align: center;
}

.wordReveal {
  font-size: 1.2rem;
  color: #ff5722;
  margin-top: 10px;
  text-align: center;
}

.tryAgainButton,
.howToPlayButton {
  padding: 1.3em 3em;
  font-size: clamp(8px, 4vw + 1rem, 14px);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.tryAgainButton {
  background-color: #fff;
  color: #000;
}

.howToPlayButton {
  background-color: #ff8c00;
  color: #000;
}

.tryAgainButton:hover {
  background-color: hsl(126, 71%, 31%);
  color: #fff;
  transform: translateY(-7px);
}

.tryAgainButton:active,
.howToPlayButton:active {
  transform: translateY(-1px);
}

.howToPlayButton:hover {
  background-color: #ff8c00;
  color: #fff;
  transform: translateY(-7px);
}

.winnerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.youWin {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
  font-weight: bold;
}

.fireworkAnimation {
  z-index: 1;
  pointer-events: none;
}
