.containerApp {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 2rem;
}

.infoMessage {
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
  color: #ff5722;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.winnerOrLoser {
  font-size: clamp(1.1rem, 2vw + 1rem, 1.8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.loserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wordReveal {
  font-size: 1.2rem;
  color: #ff5722;
  margin-top: 10px;
}

.tryAgainButton {
  padding: 1.3em 3em;
  font-size: clamp(8px, 4vw + 1rem, 14px);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.tryAgainButton:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.tryAgainButton:active {
  transform: translateY(-1px);
}

@media (max-width: 680px) {
  .infoMessage {
    font-weight: 600;
  }
}

.howToPlayButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.howToPlayButton:hover {
  background-color: #ff5622cc;
}
